doctype html
html(ng-app='dashApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/css_grid.css')
  body
    block content