body {
  padding: 0;
  margin: 0;
  font: 14px Helvetica, Arial, sans-serif;
  background: #000;
  color: #ddd;
}

a {
  color: #00B7FF;
}

/* widgets */

@ok-color: #090;
@bad-color: #900;

widget, .add-button {
  height: 200px;
  border: 1px solid #333;
  position: relative;
  button {
    color: white;
    background-color: #333;
    border: none;
  }
  .widget-content {
    height: 100%;
    width: 100%;
  }
  .widget-config {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }

}
.add-button {
  text-align: center;
  cursor: pointer;
}

/* days counter widget */
widget .days-counter {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  .until {
    color: @ok-color;
  }
  .since {
    color: @bad-color;
  }
  .days-count {
    font-size: 5em;
  }
  .days-preposition.until, .days-label.until {
    color: darken(@ok-color, 10%);
  }
  .days-preposition.since, .days-label.since {
    color: darken(@ok-color, 10%);
  }
  .days-label {
    color: #999;
  }
}
