body {
  padding: 0;
  margin: 0;
  font: 14px Helvetica, Arial, sans-serif;
  background: #000;
  color: #ddd;
}

a {
  color: #00B7FF;
}

/* widgets */

@ok-color: #090;
@bad-color: #900;

widget, .add-button {
  height: 200px;
  border: 1px solid #333;
  position: relative;
  button {
    color: white;
    background-color: #333;
    border: none;
    height: 20px;
    width: 20px;
  }
  .widget-content {
    height: 100%;
    width: 100%;
  }
  .widget-config {
    position: absolute;
    top: 25px;
    left: 0;
    height: 175px;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    outline: 1px solid #333;
    label {
      width: 50px;
    }
    input {
      width: 150px;
      color: black;
    }
  }
  .widget-controls {
    button {
      padding: 2px;
    }
  }
}
.add-button {
  text-align: center;
  cursor: pointer;
  font-size: 5em;
  padding-top: 50px;
  color: #999;
  :hover {
    color: #ccc;
  }
  .label {
    font-size: 20px;
    display: block;
    color: #666;
  }
}

/* days counter widget */
widget .days-counter .widget-content {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  .until {
    color: @ok-color;
  }
  .since {
    color: @bad-color;
  }
  .days-count {
    font-size: 5em;
  }
  .days-preposition.until, .days-label.until {
    color: darken(@ok-color, 10%);
  }
  .days-preposition.since, .days-label.since {
    color: darken(@ok-color, 10%);
  }
  .days-label {
    color: #999;
  }
}
