<div id="wallboard">
  <div class="header">

    <select ng-model="currentWallboard" ng-options="wallboard.name for wallboard in wallboards track by wallboard._id" ng-change="selectWallboard()" ng-hide="editing"></select>

    <button ng-click="showAddWallboard()" ng-hide="editing">+</button>
    <button ng-click="removeWallboard()" ng-hide="editing">-</button>
    <form ng-submit="addWallboard()">
      <input type="text" enabled="false" name="name" ng-model="currentWallboard.name" ng-show="editing"></div>
    </form>
  </div>

  <div id="grid">
    <widget ng-repeat="widget in currentWallboard.widgets track by $index" class="size1of5"></widget>
    <div ng-click="addWidget()" class="add-button size1of5">Add Widget</div>
  </div>
</div>