<div>
  <div class="widget-controls">
    <button ng-model="showConfig" ng-click="showWidgetConfig()" class="show-config">
      <span class="glyphicon glyphicon-cog"></span>
    </button>
    <span ng-show="showConfig">
      <button class="delete" ng-click="deleteWidget(widget, $index)">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <select ng-model="widget.name" ng-options="widget.name for type in widgetTypes"></select>
    </span>
  </div>
  <div class="widget-content" ng-transclude></div>
</div>
