<div class="days-counter">
  <div class="widget-content">
    <div class="days-count {{widget.config.date | intervalPreposition}}">{{widget.config.date | intervalToDays}}</div>
    <div class="days-preposition {{preposition}}">days {{widget.config.date | intervalPreposition}}</div>
    <div class="days-label">{{widget.config.label}}</div>
  </div>
  <div class="widget-config" ng-show="showConfig">
    <div>
      <label for="label">Label</label>
      <input name="label" type="text" ng-model="widget.config.label" />
    </div>
    <div>
      <label for="name">Date</label>
      <input name="date" type="date" ng-model="widget.config.date" />
    </div>
  </div>
</div>
